
.scroll-down {
    height: 50px;
    width: 30px;
    border: 2px solid #deba27;
    position: absolute;
    left: 50%;
    bottom: 20px;
    border-radius: 50px;
    cursor: pointer;
}
.scroll-down::before,
.scroll-down::after {
    content: "";
    position: absolute;
    top: 20%;
    left: 50%;
    height: 10px;
    width: 10px;
    transform: translate(-50%, -100%) rotate(45deg);
    border: 2px solid #deba27;
    border-top: transparent;
    border-left: transparent;
    animation: scroll-down 1s ease-in-out infinite;
}
.scroll-down::before {
    top: 30%;
    animation-delay: 0.3s;
    /* animation: scroll-down 1s ease-in-out infinite; */
}

@keyframes scroll-down {
    0% {
        /* top:20%; */
        opacity: 0;
    }
    30% {
        opacity: 1;
    }
    60% {
        opacity: 1;
    }
    100% {
        top: 90%;
        opacity: 0;
    }
}
/*.text-gradient-sky-blue-pink {*/
/*    font-size: 14px;*/
/*    color: #fff;*/
/*    text-align: center;*/
/*    background: linear-gradient(to right, #00c6ff, #ff758c);*/
/*    -webkit-background-clip: text;*/
/*    -webkit-text-fill-color: transparent;*/
/*    position: absolute;*/
/*}*/

.career-banner {
    background: linear-gradient(to right, #e97522 0%, #1ea3b1 100%), url('images/warptexbd/home_about.jpg') no-repeat center center;
    background-size: cover;
    height: 60vh;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.career-card {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.career-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.2);
}

.apply-now-btn {
    background-image: linear-gradient(to right, #e97522 0%, #1ea3b1 100%);
    color: #fff;
    padding: 10px 20px;
    border-radius: 25px;
    text-decoration: none;
    font-weight: bold;
    transition: background 0.3s ease;
}

.apply-now-btn:hover {
    background: linear-gradient(90deg, #ff758c, #ff7eb3);
}